# https://community.octoprint.org/t/known-printer-profiles-for-octoprint/
axes:
  e:
    inverted: false
    speed: 300
  x:
    inverted: false
    speed: 6000
  y:
    inverted: false
    speed: 6000
  z:
    inverted: false
    speed: 200
color: default
extruder:
  count: 1
  defaultExtrusionLength: 5
  nozzleDiameter: 0.4
  offsets:
  - - 0.0
    - 0.0
  sharedNozzle: false
heatedBed: true
heatedChamber: false
id: _default
model: {{ octoprint[ansible_facts['nodename']]['printerModel'] }}
name: {{ ansible_facts['nodename'] | capitalize }}
volume:
  depth: 300.0
  formFactor: rectangular
  height: 340.0
  origin: lowerleft
  width: 300.0
